# Moe's Bar Lab

### Introduction

In this lesson, we'll apply our knowlwedge of querying tables with has many through to ask questions of customers and bartenders at a bar.

### Loading Our Data

Create a new file called `moes_bar.sql` and then copy and paste the below into the file.

```sql
CREATE TABlE IF NOT EXISTS bartenders(
  id INTEGER PRIMARY KEY,
  name TEXT,
  hometown TEXT,
  birthyear INTEGER
);

INSERT INTO bartenders (name, hometown, birthyear) VALUES
  ("moe", "springfield", 1965),
  ("selma", "milwaukee", 1970),
  ("patty", "philly", 1970);

  CREATE TABLE IF NOT EXISTS customers (
    id INTEGER PRIMARY KEY,
    name TEXT,
    hometown TEXT,
    birthyear INTEGER
  );

INSERT INTO customers (name, hometown, birthyear) VALUES
  ("bart simpson", "springfield", 2008),
  ("maggie simpson", "milwaukee", 2016),
  ("lisa simpson", "philly", 2006);

CREATE TABLE IF NOT EXISTS drinks (
    id INTEGER PRIMARY KEY,
    name TEXT,
    calories INTEGER,
    price INTEGER,
    alcoholic INTEGER
  );

INSERT INTO drinks (name, calories, price, alcoholic) VALUES
  ("egg cream soda", 80, 3, 0),
  ("milkshake", 300, 5, 0),
  ("rootbeer", 180, 6, 0),
  ("ice cream float", 250, 8, 0),
  ("duff beer", 200, 7,  1),
  ("gin and tonic", 200, 7, 1);


CREATE TABLE IF NOT EXISTS orders (
    id INTEGER PRIMARY KEY,
    customer_id INTEGER,
    drink_id INTEGER,
    bartender_id INTEGER
  );

INSERT INTO orders (customer_id, drink_id, bartender_id) VALUES
  (1, 1, 1),
  (1, 1, 1),
  (2, 5, 2),
  (2, 5, 1),
  (2, 5, 1),
  (3, 6, 3),
  (1, 2, 1),
  (2, 3, 2),
  (3, 4, 3);

CREATE TABLE IF NOT EXISTS ingredients (
    id INTEGER PRIMARY KEY,
    name TEXT,
    price INTEGER
  );


CREATE TABLE IF NOT EXISTS ingredients_drinks (
  id INTEGER PRIMARY KEY,
  drink_id INTEGER,
  ingredient_id INTEGER
);

INSERT INTO ingredients_drinks (drink_id, ingredient_id) VALUES
  (1, 6),
  (1, 5),
  (2, 3),
  (2, 5),
  (6, 1),
  (6, 2);

INSERT INTO ingredients (name, price) VALUES
  ('gin', 3),
  ('tonic', 4),
  ('milk', 2),
  ('rootbeer', 2),
  ('icecream', 2),
  ('seltzer', 2),
  ('rootbeer', 3),
  ('duff beer', 5);
```

Make sure that you only copied the contents above and nothing else.

Once you have copied the SQL statements above, then run the following to create the database, and execute the code.

In [1]:
!sqlite3 moes_bar.db < moes_bar.sql

Then we can connect to our database with the following.

In [20]:
import sqlite3
conn = sqlite3.connect('./bar.db')
cursor = conn.cursor()

### Exploring our Database

Now we list of all of the tables with the following.

In [5]:
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
cursor.fetchall()

And then we can see the details of a particular table with the following.

In [10]:
cursor.execute("pragma table_info(orders)")
cursor.fetchall()

[(0, 'id', 'INTEGER', 0, None, 1),
 (1, 'customer_id', 'INTEGER', 0, None, 0),
 (2, 'drink_id', 'INTEGER', 0, None, 0),
 (3, 'bartender_id', 'INTEGER', 0, None, 0)]

### Making our queries

* Find the name of the youngest customer

In [13]:
youngest_customer = "select name, min(birthyear) from customers;"

cursor.execute(youngest_customer)
cursor.fetchall()
# [('lisa simpson', 2006)]

[('lisa simpson', 2006)]

* Order the drinks from most to least expensive

In [15]:
cheapest_drinks = "select name, price from drinks ORDER BY price DESC;"

cursor.execute(cheapest_drinks)
cursor.fetchall()
# [('ice cream float', 8),
#  ('duff beer', 7),
#  ('gin and tonic', 7),
#  ('rootbeer', 6),
#  ('milkshake', 5),
#  ('egg cream soda', 3)]

[('ice cream float', 8),
 ('duff beer', 7),
 ('gin and tonic', 7),
 ('rootbeer', 6),
 ('milkshake', 5),
 ('egg cream soda', 3)]

* Find the most expensive drink that bart simpson ordered

In [21]:
barts_orders = """select drinks.name, max(drinks.price) from drinks 
join orders on orders.drink_id = drinks.id
join customers on customers.id = orders.customer_id
where customers.name = 'bart simpson';"""

cursor.execute(barts_orders)
cursor.fetchall()
# [('milkshake', 5)]

[('milkshake', 5)]

* Find a list of all of the customers of moe

In [11]:
moes_customers = """select DISTINCT(customers.name) from customers 
join orders on orders.customer_id = customers.id
join bartenders on bartenders.id = orders.bartender_id
where bartenders.name = 'moe';"""

cursor.execute(moes_customers)
cursor.fetchall()
# [('bart simpson',), ('maggie simpson',)]

[('bart simpson',), ('maggie simpson',)]

* Most profitable customer

In [34]:
most_profitable_customer = """select customers.name, SUM(drinks.price) - SUM(ingredients.price) as profit FROM ingredients 
INNER JOIN ingredients_drinks ON ingredients_drinks.ingredient_id = ingredients.id 
INNER JOIN drinks ON drinks.id = ingredients_drinks.drink_id 
INNER JOIN customers ON orders.customer_id = customers.id 
INNER JOIN orders ON orders.drink_id = drinks.id GROUP BY orders.customer_id ORDER BY profit DESC;"""

cursor.execute(most_profitable_customer)
cursor.fetchall()

[('bart simpson', 40), ('lisa simpson', 28)]

In [14]:
cursor.execute("SELECT * FROM customers;")
cursor.fetchall()

[(1, 'bart simpson', 'springfield', 2008),
 (2, 'maggie simpson', 'milwaukee', 2016),
 (3, 'lisa simpson', 'philly', 2006)]